.categories-display {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: calc(10vw - 300px);
    div {
        display: flex;
        flex-flow: column wrap;
        flex-basis: 26%;
        justify-content: center;
        align-items: center;
        padding: 3vw;
        img {
            width: 30vw;
            height: 30vw;
            max-width: 300px;
            max-height: 300px;
        }
        p {
            font-family: 'Rum Raisin', sans-serif;
            font-size: clamp(20px, 4vw, 36px);
        }
    }
}
