header {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    padding: 3%;
    align-items: center;
}

.logo-name {
    display: flex;
    justify-content:space-around;
    align-items: center;
}