header {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    padding: 3%;
    align-items: center;
}

.logo-name {
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.cesta-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.home, .categorias {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.137);
    border-radius: 5px;
    padding:5%;
}

.home {
    background-color: #FFA3A3;
    margin-right:1%;
}

.categorias {
    background-color: #F5C312;
    border-radius: solid #F5C312;
}


