main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
.mi-cesta {
    display: flex;
    flex-flow: column nowrap;
    width: 70%;
    max-width: 800px;
    min-width: 350px;
    h3 {
    background-color: #F49FB6;
    padding: 1vh 4vw;
    }
    section {
        background-color: #E9FFE8;
        .cesta-producto {
            article {
                margin: 1vh 2vw;
                background-color: white;
                display: flex;
                justify-content: space-around;
                .cesta-imagen-nombre-precio-producto {
                    flex-basis: 50%;
                    gap: 1vw;
                    justify-content: space-between;
                }
                div {
                    display: flex;
                    align-items: center;
                    .cesta-imagen-producto {
                        width: 50px;
                        height: 50px;
                        background-position: center;
                        background-size: cover;                
                   }
                   .cesta-nombre-producto {
                       flex-basis: 40%;
                       justify-content: flex-end;
                       
                   }
                }
                .cesta-cantidad-producto {
                       gap: 1vw;
                }
                .cesta-subtotal-producto {
                    gap: 1vw;
                }

            }
        }
    }
}
}
.dama {
    background-image: url(/images/dama.jpg);
}
.rata {
    background-image: url(/images/ratatouille.jpg);
}
.ariel {
    background-image: url(/images/ariel.jpg);
}
