* {
    margin:0;
    padding:0;
}

.title-product , .recommended-products{
    margin: 5%;
}

#product {
    display:flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items: space-between;
    align-self: baseline;
}

#imagen-product {
display:flex;
justify-content:space-between;
align-items: flex-start;
width:50%;
height:50%;
margin:2%;
}

.principal-imagen-product {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.images {
    display: flex;
    position:absolute;
    z-index: 1;
    margin-top:350px;
    width:20%;
    height: 20%;

    img.imagen-product2 , img.imagen-product3 , img.imagen-product4 {
        margin: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

aside {
    
    margin: 5%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.description-product {
    background-color:#FCB714;
    padding-top: 5%;
    padding-bottom:5%;
}

.description-product-title , li {
    list-style: none;
    text-align: justify;
    margin:5%;
}


#button-shop {
    display: flex;
    justify-content: center;
    margin: 10%;
}

.shop {
    display: flex;
    border-radius: 10%;
    background-color: transparent;
    border-color:grey;
    padding:3%;
    justify-content: center;
}

.title-recommended {
    background-color: #FCB714;
    padding: 2%;
    text-align: center;
    margin:5%;
}

.recommended-products {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap;
}

.recommended1 {
    width: 200px;
}

 