@import 'header.scss';

* {
 margin:0;
 padding: 0;
 
}
header{
    width: 100%;
    display:flex;  
    section{
       display: flex;
        width: 100%;
        font-family: 'Cabin Sketch';
        font-size: clamp(24px, 2.5vw, 36px);
        
        
        
        }
        
        .logo{
                width: 20px;
                height: 20px;
        }
    }
    

    .cesta-menu{
       
        .cesta{
            width: 20px;
        }
    }

