* {
  margin: 0;
  padding: 0;
}

.title-product, .recommended-products {
  margin: 3%;
}

.title-product {
  margin-left: 10%;
}

#product {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-around;
}

#imagen-product {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 500px;
  height: 500px;
  margin: 4px;
  padding: 4px;
}

#principal-imagen-product {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 5%;
  width: 500px;
  height: 500px;
}

.images-product {
  display: flex;
  position: absolute;
  z-index: 1;
  margin-top: 400px;
  width: 15%;
  height: 15%;
}
.images-product img.imagen-product2, .images-product img.imagen-product3, .images-product img.imagen-product4 {
  margin: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

aside {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  width: 300px;
  height: 500px;
}

#aside-description {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 3%;
}

.description-product {
  background-color: #FCB714;
  padding-top: 5%;
  padding-bottom: 5%;
}

.description-product-title, li {
  list-style: none;
  text-align: justify;
  margin: 5%;
}

.price-like {
  display: flex;
  justify-content: space-between;
  margin: 2%;
}

.price-like p {
  font-size: 28px;
  font-weight: bold;
}

#like {
  display: flex;
  justify-content: space-evenly;
  width: 10%;
}

#button-shop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10%;
}

.shop {
  display: flex;
  border-radius: 50px;
  background-color: transparent;
  border-color: grey;
  padding: 7%;
  justify-content: center;
  box-shadow: black 0px 4px 4px;
}

.shop-basket {
  width: 10%;
  margin-right: 3%;
}

.title-recommended {
  background-color: #FCB714;
  padding: 2%;
  text-align: center;
  margin: 5%;
}

.recommended-products {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: wrap;
}

.recommended1 {
  width: 200px;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.h1 {
  font-family: "Cabin Sketch";
}

button {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-family: "Rum Raisin", sans-serif;
}

header {
  padding-left: 10%;
  width: 100%;
  display: flex;
  align-items: center;
}
header .logo {
  width: 10%;
}
header section {
  align-items: center;
  display: flex;
  width: 100%;
  font-family: "Cabin Sketch";
  font-size: clamp(12px, 2vw, 20px);
}
header section h1 {
  margin-left: 2%;
  font-size: 150%;
}
header .cesta-menu button {
  border-radius: 5px;
  font-family: sans-serif;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(248, 237, 237, 0.25));
}
header .cesta-menu .home {
  width: 15%;
  background-color: #FFA3A3;
}
header .cesta-menu .categorias {
  margin-left: 2%;
  width: 15%;
  background-color: #f6df4c;
}
header .cesta {
  margin-right: 2%;
  height: 30px;
  width: 30px;
}

.mi-cesta {
  display: flex;
  flex-flow: column nowrap;
  width: 70%;
  max-width: 800px;
  min-width: 350px;
}
.mi-cesta h3 {
  background-color: #F49FB6;
  padding: 1vh 4vw;
}
.mi-cesta section {
  background-color: #E9FFE8;
}
.mi-cesta section .cesta-producto article {
  margin: 1vh 2vw;
  background-color: white;
  display: flex;
  justify-content: space-around;
}
.mi-cesta section .cesta-producto article .cesta-imagen-nombre-precio-producto {
  flex-basis: 50%;
  gap: 1vw;
  justify-content: space-between;
}
.mi-cesta section .cesta-producto article div {
  display: flex;
  align-items: center;
}
.mi-cesta section .cesta-producto article div .cesta-imagen-producto {
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: cover;
}
.mi-cesta section .cesta-producto article div .cesta-nombre-producto {
  flex-basis: 40%;
  justify-content: flex-end;
}
.mi-cesta section .cesta-producto article .cesta-cantidad-producto {
  gap: 1vw;
}
.mi-cesta section .cesta-producto article .cesta-subtotal-producto {
  gap: 1vw;
}

.dama {
  background-image: url(/images/dama.jpg);
}

.rata {
  background-image: url(/images/ratatouille.jpg);
}

.ariel {
  background-image: url(/images/ariel.jpg);
}

.gallery-products-show {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  margin: auto;
  justify-content: center;
}
.gallery-products-show .product-container {
  display: flex;
  flex-flow: column wrap;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  margin: 2vh 2vw;
  justify-content: space-between;
  align-items: center;
  background-position: center;
  background-size: cover;
}
.gallery-products-show .product-container .product-name {
  text-transform: capitalize;
  display: none;
}
.gallery-products-show .product-container .product-price {
  font-size: 1vw;
  align-self: flex-end;
  padding: 1vh 1vw;
  font-size: 2vw;
  font-weight: bold;
}
.gallery-products-show .product-container .buttons-add-to-cart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
}
.gallery-products-show .product-container .buttons-add-to-cart .image-cart-in-product-gallery {
  width: 40px;
  height: 40px;
}

@media only screen and (max-width: 600px) {
  .mi-cesta {
    width: 90%;
  }
  .mi-cesta h3 {
    padding: 1vh 10vw;
  }
  .mi-cesta section .cesta-producto article {
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 5vw;
  }
  .mi-cesta section .cesta-producto article .cesta-imagen-nombre-precio-producto {
    flex-basis: 100%;
    justify-content: center;
  }
  .mi-cesta section .cesta-producto article div {
    display: flex;
    align-items: center;
  }
  .mi-cesta section .cesta-producto article div .cesta-imagen-producto {
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: cover;
  }
  .mi-cesta section .cesta-producto article div .cesta-nombre-producto {
    flex-basis: 40%;
    justify-content: space-between;
  }
  .mi-cesta section .cesta-producto article .cesta-cantidad-producto {
    margin-left: 60px;
  }
  .mi-cesta section .cesta-producto article .cesta-subtotal-producto {
    gap: 1vw;
  }
}
.slider {
  align-items: center;
  background: #fff;
  display: flex;
  justify-content: center;
  background: white;
  width: 90vw;
  margin-top: 3%;
  margin-bottom: 3%;
  overflow: hidden;
  position: relative;
}

.slider::before, .slider::after {
  background: linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 100px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  animation: scroll 120s linear infinite;
  display: flex;
  width: 250vw;
}

.slider .slide {
  display: flex;
  align-items: center;
}

.slide-img {
  width: 60vw;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2250px);
  }
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

a {
  color: black;
}

/*# sourceMappingURL=style.css.map */
